.markedElement {
    border: 3px solid #96DEFA !important;
}

.inspectorControls, .markOverlay {
    position: absolute;
    z-index: 15000;
    top : 0;
    left: 0;
}

#inspectorControlsID {
    display: none;
}

#xpathFields {
	position: absolute;
	padding-left: 20px;
	padding-top: 8px;
}
#xpathEvaluator{
z-index:9999;
background: #e7e7e7;
color:#000000;
width:690px;
height:150px; 
position: absolute;
top: 50px;
left: 50px;
}

#xpathEvaluatordivhead{
padding-left: 20px;
font-size: 18px;
font-weight: bold;
color:#000000;
background:#bdd3f1;
 }

.inspectorControls div, .inspectorControls label {
    float: left;
    background: #96DEFA;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    padding: 3px 0px;
    border: 3px solid #96DEFA !important;
}

.inspectorControls div {
    width: 57px;
}

.inspectorControls label {
    font-style: italic;
}

.inspectorControls div:hover {
    background: #fff;
}

.markOverlay {
    background: url('transp_px.gif') repeat top left;
    opacity: 0.4;
    filter:alpha(opacity=40);
}